* {
    transition: all 0.2s ease-in-out;
}

.button-secondary {
    position: relative;
    &::before {
        position: absolute;
        background: #19e9e9;
        z-index: -1;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        content: '';
        transition: all 0.2s ease-in-out;
    }
    &:hover {
        color: white;
        &::before {
            width: 100%;
        }
    }
}
